<div class="acc-login">
    <div class="accBlock">
        <div class="avatar">
            <a href=""><img src="images/ava-img.png" alt=""> <span>VeryLognNickNameVery</span></a>
        </div>
        <div class="acc-out">
            <a href=""></a>
        </div>
    </div>
</div>
