<div class="acc-login">
    <div class="accBlock">
        <div class="avatar">
            <a href="/account-panel"><img src={{assetsUrl("images/ava-img.png") }} alt=""> <span>{{ auth.user.memb_name }}</span></a>
        </div>
        <div class="acc-out">
            <a href="/logout"></a>
        </div>
    </div>
</div>
