<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>{{title}}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	{{ style(TEMPLATE_NAME + "/css/style.css") }}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>

<body>
	<div id="move-bg">
		<img id="move-object" src={{ assetsUrl(TEMPLATE_NAME + "/images/hero.png") }} alt="">
	</div>
	<div class="wrapper">
		<div class="menuBlock menuClick">
			<div class="btn-button" data-class="menuClick">
				<span class="first"></span>
				<span class="second"></span>
				<span class="third"></span>
			</div>

			@loggedIn
			@include("default/account/login-panel/logged")
			@else
			@include("default/account/login-panel/not-logged")
			@endloggedIn

			<div class="langBlock">
				<a href="" class="active"><img src={{ assetsUrl(TEMPLATE_NAME + "/images/eng-icon.png") }} alt="Eng">
				</a> <a href=""><img src={{ assetsUrl(TEMPLATE_NAME + "/images/ru-icon.png") }} alt="Ru"></a>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/news#content">Last News</a></li>
					<li><a href="/downloads#content">Download</a></li>
					<li><a href="/ranking/top-players#content">Top Players</a></li>
					<li><a href="/ranking/top-guilds#content">Top Guilds</a></li>
					<li><a href="">Forum</a></li>
					<li><a href="/about#content">About Us</a></li>
				</ul>
			</nav>
		</div><!-- menuBlock -->
		<div class="contentBlock menuClick">
			<div class="logo">
				<a href="/"><img src={{ assetsUrl(TEMPLATE_NAME + "/images/logo.png") }} alt=""></a>
			</div>
			<header>
				<div class="buttonHeader">
					<a href="/register#content" class="login">REGISTRATION <span>new account</span></a>
					<a href="/downloads#content" class="download">DOWNLOAD <span>new client 1.3Gb</span></a>
				</div>
				<div class="realm-status">
					<div class="radial-stat">
						<div class="circle-online">
							<div class="serverInfo">
								<span class="serverInfo__name">Server</span>
								<span class="serverInfo__x">x100</span>
								<span class="serverInfo__online">652</span>
							</div>
							<div class="circlestat" data-dimension="145" data-width="10" data-fontsize="12"
								data-percent="80" data-fgcolor="#97e158" data-bgcolor="rgba(0, 0, 0, 0.6)"></div>
						</div><!-- circle-online -->
					</div><!-- radial-stat -->
					<div class="radial-stat">
						<div class="circle-online">
							<div class="serverInfo">
								<span class="serverInfo__name">Server</span>
								<span class="serverInfo__x">x200</span>
								<span class="serverInfo__online">546</span>
							</div>
							<div class="circlestat" data-dimension="145" data-width="10" data-fontsize="12"
								data-percent="60" data-fgcolor="#97e158" data-bgcolor="rgba(0, 0, 0, 0.6)"></div>
						</div><!-- circle-online -->
					</div><!-- radial-stat -->
					<div class="radial-stat">
						<div class="circle-online">
							<div class="serverInfo">
								<span class="serverInfo__name">Server</span>
								<span class="serverInfo__x">x999</span>
								<span class="serverInfo__online">132</span>
							</div>
							<div class="circlestat" data-dimension="145" data-width="10" data-fontsize="12"
								data-percent="30" data-fgcolor="#97e158" data-bgcolor="rgba(0, 0, 0, 0.6)"></div>
						</div><!-- circle-online -->
					</div><!-- radial-stat -->
				</div>
			</header><!-- header -->