@include('default/header/index')
@if(!news)
<div class="content content-page" id="content">
    Opss
</div>
@else
<div class="content content-page" id="content">
    <h1>{{news.title}}</h1>
    <p><img src={{ assetsUrl('images/') + news.cover }} alt=""></p>
    <p>{{news.body}}</p>
    <div class="date">
        {{news.created_at}}
    </div>
</div><!-- content -->
@endif
@include('default/footer/index')